.tag {
  display: inline-block;
  padding: 0.25em 0.5em;
  border-radius: 4px;
  color: #fff;
  font-weight: bold;
  text-align: center;
}

/* 상태별 스타일 */
.tag-success {
  background-color: #28a745;
}

.tag-warning {
  background-color: #ffc107;
  color: #212529;
}

.tag-error {
  background-color: #dc3545;
}

.tag-info {
  background-color: #17a2b8;
}

.p-tag.custom-custom-tag1 {
  background-color: #c19ed2 !important;
  color: white !important;
}

.p-tag.custom-tag2 {
  background-color: #ffa2c3 !important;
  color: white !important;
}

.p-tag.custom-tag3 {
  background-color: #96c2ee !important;
  color: white !important;
}

.p-tag.custom-tag4 {
  background-color: #61c993 !important;
  color: white !important;
}
