.tag {
  display: inline-block;
  padding: 0.25em 0.5em;
  border-radius: 4px;
  color: #fff;
  font-weight: bold;
  text-align: center;
}

/* 상태별 스타일 */
.tag-success {
  background-color: #28a745;
}

.tag-warning {
  background-color: #ffc107;
  color: #212529;
}

.tag-error {
  background-color: #dc3545;
}

.tag-info {
  background-color: #17a2b8;
}

/* (1) 연보라 배경 */
.p-tag.custom-tag1 {
  background-color: #c19ed299 !important; /* #c19ed2 + alpha(70%) */
  color: whitesmoke !important; /* 짙은 회색 */
  font-weight: bold !important;
}

/* (2) 핑크 배경 */
.p-tag.custom-tag2 {
  background-color: #ffa2c399 !important;
  color: whitesmoke !important;
  font-weight: bold !important;
}

/* (3) 하늘색 배경 */
.p-tag.custom-tag3 {
  background-color: #96c2ee99 !important;
  color: whitesmoke !important;
  font-weight: bold !important;
}

/* (4) 연한 그린 배경 */
.p-tag.custom-tag4 {
  background-color: #61c99399 !important;
  color: whitesmoke !important;
  font-weight: bold !important;
}
/* 보라색 배경*/
.default {
  background-color: #b83bdf99 !important;
  color: whitesmoke !important;
  font-weight: bold !important;
}
