@import "./base.css";

:root {
  --main-color: #7f56d9; /* 주요 색상 */
  --secondary-color: #ebeef0; /* 보조 색상 */
  --font-size: 16px; /* 기본 글꼴 크기 */
  --padding: 10px; /* 패딩 값 */
}

.app-layout {
  display: flex;
}
.sidebar {
  flex: 0.58;
  background-color: #333;
  color: white;
  transition: all 0.3s ease-in-out;
  /* display: none; */
}

.contents-wrapper {
  flex: 3;
  background-color: #f8f9fa;
  overflow: auto;
}
